{% extends 'base.html' %}

{% block head %}
    <title>Task Master</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
{% endblock %}

{% block body %}

<div class="header">
    <a href="/" class="logo" onmouseover="GFG_Fun()">Task Master</a>
    <div class="header-right">
        <a href="/" onmouseover="GFG_Fun()">Home</a>
        <a class="active" href="/signin" onmouseover="GFG_Fun()">Login</a>
        <a href="/signup" onmouseover="GFG_Fun()">Register</a>
        <a onmouseover="GFG_Fun()">Auto Reader</a>
        <label class="switch">
            <input type="checkbox" id="auto">
            <span class="slider round"></span>
        </label>
    </div>
</div>
<!-- oooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <div class="sign_main">
        <div class="sign_logo">
            <img src="{{ user_image }}" width="100">
        </div>

        <div class="pers_info">
            <center><img src="{{ user_image }}"></center>
            <div class="signin_form">
                {% if error %}
                    <p onmouseover="GFG_Fun()"><strong>Error</strong>: {{ error }}</p>
                {% endif %}
                <form action="{{ url_for('otpver') }}" method="post">

                    <table cellspacing="0" cellpadding="0">


                        <tr>

                            <td colspan="3"><input type="text" placeholder="Enter email" name="email">
                        </tr>

                        <tr>
                            <td>
                            <td>
                                <button type="submit" name="Verfication" value="Verfication" class="signupbtn" onmouseover="GFG_Fun()">
                                    Verfication
                                </button>
                            <td>
                                <button type="submit" name="Cancel" value="Cancel" class="signupbtn" onmouseover="GFG_Fun()">Cancel</button>
                            <td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}