{% extends 'base.html' %}

{% block head %}
<title>Welcome to the MainPage!</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
{% endblock %}

{% block body %}

    <div class="header">
        <a href="/" class="logo" onmouseover="GFG_Fun()">Task Master</a>
        <div class="header-right">
        <a class="active" href="/" onmouseover="GFG_Fun()">Home</a>
        <a href="/signin" onmouseover="GFG_Fun()">Login</a>
        <a href="/signup" name="signup" value="signup" onmouseover="GFG_Fun()">Register</a>
        <a onmouseover="GFG_Fun()">Auto Reader</a>
        <label class="switch">
            <input type="checkbox" id="auto">
            <span class="slider round"></span>
        </label>
        </div>
    </div>

    <div class="welcom">
        <center><img  src="{{user_image}}" width="500" ></center>
        <form action="{{url_for('sign_up_in') }}" method="post">
           <center>
               <!-- <input type="text" placeholder="Enter Font-size" name="font_size" required> -->
               <label onmouseover="GFG_Fun()">Choose Font Size:</label>
               <select name="font_size">
                <option value=13 onmouseover="GFG_Fun()">13</option>
                <option value=15 onmouseover="GFG_Fun()">15</option>
                <option value=17 onmouseover="GFG_Fun()">17</option>
                <option value=20 onmouseover="GFG_Fun()">20</option>
              </select>
            </center>
          
            <div style="text-align: center;">
                <button type="submit" name="signin"  class="submitbtn" value="signin" onmouseover="GFG_Fun()">Set font size</button>
            </div>
        </form>
    </div>
{% endblock %}