.setting{
    width:160px;
    }
    
.setting a{
    text-decoration: none;
    color: black;
}

.setting button{
    color: white;
}

.setting:hover, .setting a:hover{
    background:#696969;
    color:white;

}

.setting .img_setting{

}

.sign_main .pers_info h1{
    text-align: center;
    font-size: revert;
}
